<div class="container">
    <h1>Consultant Information</h1>


        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name:  {{ user.firstName }}</label>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last name: {{ user.lastName }}</label>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputLastName">Technical Background: {{ user.background }}</label>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputLastName">Location: {{ user.location }}</label>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputLastName">Current Allocation: {{ user.allocation }}</label>
        </div>

</div>
